<check if="{{ !empty(@product) }}">
	<true>
		<div class="card" style="width: 18rem;">
			<svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="{{ @product.name }}" preserveAspectRatio="xMidYMid slice" focusable="false">
				<title>{{ @product.name }}</title>
				<rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
			</svg>
			<div class="card-body">
				<h5 class="card-title">{{ @product.name }}</h5>
				<p class="card-text">{{ @product.description }}</p>
				<p>Price: {{ @product.currency }} {{ @product.price }}<br>VAT: {{ @product.vat }}% included</p>
				<a href="#" class="btn btn-primary">Add to cart</a>
			</div>
		</div>
	</true>
	<false>
		<p class="alert alert-warning">No product found!</p>
	</false>
</check>