<h2>Welcome to our Shop</h2>

<h3>Out products</h3>

<ul class="list-group">
	<!--
		repeat benötigt group (array) und eine value variable (jeder einzelne Eintrag im array)
		Optional kann der Key ausgelesen werden (meist bei assoziativen Arrays)
		Ein optionaler Zähler, der alle die Einträge von 1 weg zählt ist auch möglich
	 -->
	<repeat group="{{ @products }}" value="{{ @product }}" key="{{ @key }}" counter="{{ @counter }}">
		<li class="list-group-item">
			<a href="{{ 'product', '@id=' . @product.product_id | alias }}">{{ @product.name }}</a>
		</li>
	</repeat>
</ul>