<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ @pageTitle }}</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<header>
			<h1>{{ @pageHeading }}</h1>
		</header>
		<include href="{{ @layoutDir . 'nav-main.html' }}"></include>
		<main>
			<include href="{{ @content }}"></include>
		</main>
	</div>
</body>
</html>