<nav class="navbar bg-body-tertiary mb-3">
	<ul class="container-fluid px-3 list-unstyled">
		<!--
			{{ 'home' | alias }}
			ruft die URL der route home als Text auf
			In F3 können im dynamischen Code functions aufgerufen werden. Zuerst werden die Parameter
			('home') geschrieben, nach der pipe | der Name der Funktion
			Bsp: @pageTitle | print_r

			Alternativ kann die Funktion auch klassisch aufgerufen werden: print_r(@pageTitle)

			F3 Funktionen werden aber mit der Pipe Syntax aufgerufen

		 -->
		<li><a class="nav-link active" aria-current="page" href="{{ 'home' | alias }}">Home</a></li>
		<li><a class="nav-link" href="{{ 'about' | alias }}">About</a></li>
		<li><a class="nav-link" href="{{ 'shopHome' | alias }}">Shop</a></li>
		<li><a class="nav-link" href="/imprint">Imprint</a></li>
	</ul>
</nav>